<template>
  <div>
    <div class="row">
      <div class="8 columns">
        <h5>What is this?</h5>
        <p>This is an attempt make a nice interface for Dublin Bus RTPI (Realtime Passenger Information).</p>
        <h5>Why?</h5>
        <p>I was sick and tired of the cluttered overly yellow interface on <a href="http://dublinbus.ie">Dublin Bus</a>.
           So I decided to make my own; It's by no means prefect, but it'll do.</p>
        <h5>Who are you?</h5>
        <p>My name is Daniel Hogan, a Software Developer based in Dublin Ireland.<br/> Feeling generious? Why not buy yourself something with my <a href="http://amzn.to/2j3gRVI">Amazon link</a>. Not sure what to buy? I cannot reccomend this <a href="http://amzn.to/2Akgieu">book</a> enough.</p>
        <h5>Can I see the source?</h5>
        <p>Sure its hosted <a href="https://gitlab.com/timtheonly/prettybus">here</a>.</p>
      </div>
    </div>
    <div class="row">
      <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=26&l=ur1&category=kindlestore&banner=1QVAVYTJKE8XAVG9FP82&f=ifr&linkID=9da5538ab376aae2c9c082eb8407a7f9&t=ohmype-21&tracking_id=ohmype-21" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
  </div>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {
      stop: ''
    }
  }
}
</script>
