<template>
  <div>
    <div class='eight columns'>
      <h3>Welcome to pretty RTPI!</h3>
      <p>This is an attempt make a nice interface for Dublin Bus RTPI. Its by no means finished; see <router-link :to="{path:'about'}">About</router-link>
        for more information about features I plan to add.</p>
      <p>
        To try it out enter a stop number in the form on the right and click Submit. Can't think of a stop number click <router-link :to="{path:'stop', query: {id: '2311'}}">here</router-link> to see Realtime information for Kevin Street.
      </p>
    </div>
    <div class='four columns'>
        <div class='offset-by-one eight columns'>
          <search></search>
        </div>
    </div>
  </div>
</template>

<script>
import Search from '@/components/Search'
export default {
  name: 'home',
  data () {
    return {
      stop: ''
    }
  },
  components: {
    'search': Search
  }
}
</script>
