<template>
<div v-if="!error">
<div v-if="availableStops.length < 1">
  <load-animation/>
</div>
<div class='stops' v-else>
  <table class='u-full-width'>
    <thead>
      <tr>
        <th>Stop number</th>
        <th>Stop location</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for='n in num_stops'>
        <td><router-link :to="{path: 'stop', query: {id: availableStops[n].StopNumber}}" >{{availableStops[n].StopNumber}}</router-link></td>
        <td><router-link :to="{path: 'stop', query: {id: availableStops[n].StopNumber}}" >{{availableStops[n].Description}}</router-link></td>
      </tr>
    </tbody>
  </table>
  <div class="offset-by-five six columns">
  <button v-on:click='num_stops += 20'>Load more</button>
  </div>
</div>
</div>
<div v-else class='offset-by-three six columns'>
  <h2>Error Happened<i class="fa fa-exclamation" aria-hidden="true"></i></h2>
  <p>{{error_msg}}</p>
</div>
</template>

<script>
// https://data.dublinked.ie/cgi-bin/rtpi/busstopinformation?operator=bac
import Loader from '@/components/Loader'
var XHTMLHttpRequestPromise = require('xhr-promise')
var xhr = new XHTMLHttpRequestPromise()
export default {
  name: 'list-stops',
  data () {
    return {
      availableStops: [],
      error: false,
      error_msg: '',
      num_stops: 20
    }
  },
  created: function () {
    if (this.availableStops.length < 1) {
      xhr.send({
        method: 'GET',
        url: 'https://prettybus-cache.herokuapp.com/v2/stop'
      }).then(function (result) {
        if (result.status === 200) {
          this.availableStops = result.responseText
          this.availableStops.sort(function (a, b) {
            if (a.StopNumber < b.StopNumber) {
              return -1
            }
            if (a.StopNumber > b.StopNumber) {
              return 1
            }
            return 0
          })
        } else {
          this.error = true
          this.error_msg = result.responseText.message
        }
      }.bind(this))
    }
  },
  components: { 'load-animation': Loader }
}
</script>

<style lang='scss'>
span.routes{
  display:inline-block;
  padding-top: 3px;
  padding-bottom:3px;
  padding-right:4px;
  padding-left:4px;
  background:rgba(66, 183, 226, 0.74);
  color:white;
  margin-right:2px;
  margin-bottom:2px;
  border-radius:5px;
}

table{
  table-layout:fixed;
}
</style>
