<template>
  <div>
  <div v-if="!error">
    <div v-if="$route.query.id">
      <div v-if="waitingInfo && waitingRTPI">
        <load-animation/>
      </div><!-- end if upcommingbusses -->
      <div v-else class='busses'>
        <div class='stop-info'>
          <div class='two columns stop-name'>
            {{currentStopInfo.StopNumber}}
          </div>
          <div class='four columns'>
            {{currentStopInfo.Description}}
          </div>
          <div class='two columns'>
              <button class='button-primary' v-on:click='getRealtimeInfo'><i class='fa fa-refresh'></i></button>
          </div>
        </div>
        <div class='twelve columns'>
          <table class='u-full-width'>
            <thead>
              <tr>
                <th>Route</th>
                <th>Destination</th>
                <th>Due</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='bus in upCommingBusses'>
                <td>{{bus.route}}</td>
                <td>{{bus.destination}}</td>
                <td>{{bus.due}} {{bus.due === 'due' ? '' : 'mins'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- end if $route.query.id -->
    <div v-else class='offset-by-three six columns'>
        <h4>Enter your stop number below</h4>
        <div class='offset-by-one eight columns'>
          <search></search>
        </div>
    </div>
  </div> <!-- end if !error -->
  <div v-else class='offset-by-three six columns'>
    <h2>Error Happened<i class="fa fa-exclamation" aria-hidden="true"></i></h2>
    <p>{{error_msg}}</p>
  </div>
</div>
</template>

<script>
import Loader from '@/components/Loader'
import Search from '@/components/Search'
var XHTMLHttpRequestPromise = require('xhr-promise')

export default {
  name: 'view-stop',
  data () {
    return {
      upCommingBusses: [],
      stop: '',
      currentStopInfo: {},
      waitingInfo: true,
      waitingRTPI: true,
      error: false,
      error_msg: '',
      timer: ''
    }
  },
  created: function () {
    if (this.upCommingBusses.length < 1) {
      this.getRealtimeInfo()
    }
    this.getStopInfo()
    // setup timer to refresh data in background
    this.timer = setInterval(this.getRealtimeInfo, 60000)
  },
  watch: {
    '$route' (to, from) {
      if (to.query.id !== from.query.id) {
        this.getRealtimeInfo()
        this.getStopInfo()
      }
    }
  },
  beforeDestroy: function () {
    clearInterval(this.timer)
  },
  methods: {
    getRealtimeInfo: function () {
      if (this.$route.query.id !== undefined) {
        this.waitingInfo = true
        var xhr = new XHTMLHttpRequestPromise()
        xhr.send({
          method: 'GET',
          url: 'https://prettybus-cache.herokuapp.com/v2/rtpi/stop/' + this.$route.query.id + '/'
        }).then(function (result) {
          this.waitingInfo = false
          if (result.status === 200) {
            this.upCommingBusses = result.responseText
          } else {
            this.errorHappened(result.responseText.message)
          }
        }.bind(this))
      }
    },
    getStopInfo: function () {
      if (this.$route.query.id !== undefined) {
        var xhr = new XHTMLHttpRequestPromise()
        this.waitingRTPI = true
        xhr.send({
          method: 'GET',
          url: 'https://prettybus-cache.herokuapp.com/v2/stop/' + this.$route.query.id + '/'
        }).then(function (result) {
          this.waitingRTPI = false
          if (result.status === 200) {
            this.currentStopInfo = result.responseText
          } else {
            this.errorHappened(result.responseText.message)
          }
        }.bind(this))
      }
    },
    errorHappened: function (errorMessage) {
      this.error = true
      this.error_msg = errorMessage
    }
  },
  components: {
    'load-animation': Loader,
    'search': Search
  }
}
</script>

<style lang='scss'>
@import '../scss/_config';

.stop-info{
  font-size:1.5em;
  font-weight:600;
}
table{
  border-collapse: collapse;
}
button > a{
  color: white;
  text-decoration:none;
  &:visited{
    color: white
  }
}

@media (max-width: $mobile-portrait-width) {
  .stop-info{
    font-size: 1em;
  }
}

</style>
