<template>
  <div class="loading">
    <div class="rect rect-1"></div>
    <div class="rect rect-2"></div>
    <div class="rect rect-3"></div>
    <div class="rect rect-4"></div>
    <div class="rect rect-5"></div>
  </div>
</template>

<script>
export default {
  name: 'load-animation',
  data () {
    return {}
  }
}
</script>

<style lang='scss'>
  .loading{
    height: 45px;
    width:45px;
    margin: auto;
    padding: 5px;

    div.rect {
      display: inline-block;
      background-color:#333;
      width: 5px;
      height: 100%;
      margin-left:-1px;
      animation: 1.2s infinite 0s ease-in-out strech;

      &:first-child {
        margin-left:3px;
      }
    }

    @for $i from 1 to 6 {
      div.rect-#{$i}.rect{
        @if $i % 2 == 1{
          animation-delay:0.2s;
        }
        @else{
          animation-delay:-0.2s;
        }
      }
    }
  }

  @keyframes strech {
    0%, 40%, 100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
    }
  }
</style>
