<template>
  <div class='nav u-full-width'>
    <div class='nav-content'>
      <div class='hamburger' v-on:click=' menu_visible = !menu_visible'>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class='nav-menu'>
        <ul v-bind:class="[ menu_visible ? 'displayMenu' : 'hideMenu'] ">
          <li v-for='route in routeMap'><router-link v-on:click=' menu_visible = !menu_visible' :to=route.path exact>{{route.name}}</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'nav-bar',
  props: ['routeMap'],
  data () {
    return {
      menu_visible: false
    }
  },
  watch: {
    '$route': function (value) {
      this.menu_visible = false
    }
  }
}
</script>

<style lang='scss'>
@import '../scss/NavBar';
</style>
