<template>
  <div>
    <input placeholder='Stop number' v-model='stop' name='id' type=number v-on:keyup.enter="submit" min="1"/>
    <button class="button-primary" value="Search" v-on:click="submit" v-bind:disabled="Number.parseInt(stop) < 1 || stop === ''">Search</button>
  </div>
</template>

<script>
export default {
  name: 'search',
  data () {
    return {
      stop: ''
    }
  },
  methods: {
    submit: function (event) {
      // ignore if stop is invalid
      if (Number.parseInt(this.stop) < 1 || this.stop === '') {
        return
      }
      this.$router.push({ path: 'stop', query: { id: this.stop } })
    }
  }
}
</script>

<style lang='scss'>
$disabled-button-color: #b5b5b4;

button[disabled='disabled']{
  background-color:$disabled-button-color;
  border-color:$disabled-button-color;

  &:hover{
    background-color:$disabled-button-color;
    border-color:$disabled-button-color;
    cursor: not-allowed;
  }

}
</style>
