<!-- main layout file -->
<template>
  <div id="app" v-on:resize='menu_visible = false'>
    <div class='container'>
      <div class='row'>
        <nav-bar :routeMap="routeMap"></nav-bar>
      </div>
      <div class='row'>
        <router-view class="eleven columns">
        </router-view>
        <div class='one column hidden-mobile add_bar'>
          <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=29&l=ur1&category=kindlestore&banner=1Q6V6DVXCWD0AB2HCM02&f=ifr&linkID=fef4e8ed9499985012b6a417c1ed4d9a&t=ohmype-21&tracking_id=ohmype-21" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/Navbar'
export default {
  name: 'app',
  props: ['routeMap'],
  data () {
    return {
      menu_visible: false
    }
  },
  components: { 'nav-bar': NavBar }
}
</script>

<style lang='scss'>

@import './scss/skeleton';
@import './scss/utils';

body{
  padding:0px;
  margin:0px;
}
.app{
  width:100%;
}

.add_bar{
  margin-leftt: 6em;
}
</style>
