/*
 nav configs
*/
$nav-background: rgba(0,0,0,0.06);
$nav-background-active: darken($nav-background, 60%);
$nav-hamburger-color: #000000;
$nav-link-hover: #33c3f0;
$nav-link-color: #000000;
$nav-shadow-color: #DCDCDC;


/*
  skeleton conifgs
*/
$tablet-width: 768px; // the tablet width media query
$mobile-portrait-width: 375px; // the mobile portrait media query
$mobile-landscape-width: 568px; // the mobile landscape media query
