@import '../scss/skeleton';
@media (min-width: $mobile-portrait-width + 1px) {
    .hidden-mobile {
        display: block !important;
    }
}

//small screen sizes
@media (max-width: $mobile-portrait-width) {
    .hidden-desktop {
        display:block !important;
    }

    .hidden-mobile {
        display:none !important;
    }
}
